Repository Hailgrim/Admin-Panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-api, install-mailer, install-panel-react, install-panel-vue, lint-api, lint-mailer, lint-panel-react, lint-panel-vue, test-panel-react, test-panel-vue, build-grafana, build-prometheus, build-nginx, build-rabbitmq, build-postgres, build-redis, build-api, build-mailer, build-panel-react, build-panel-vue, deploy-staging

install-api:
  stage: install
  image: node:lts-alpine
  script:
  - cd apps/backend/api
  - npm install --prefer-offline --no-audit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-api-deps
    paths:
    - apps/backend/api/node_modules/
    - apps/backend/api/package-lock.json

install-mailer:
  stage: install
  image: node:lts-alpine
  script:
  - cd apps/backend/mailer
  - npm install --prefer-offline --no-audit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mailer-deps
    paths:
    - apps/backend/mailer/node_modules/
    - apps/backend/mailer/package-lock.json

install-panel-react:
  stage: install
  image: node:lts-alpine
  script:
  - cd apps/frontend/panel-react
  - npm install --prefer-offline --no-audit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-panel-react-deps
    paths:
    - apps/frontend/panel-react/node_modules/
    - apps/frontend/panel-react/package-lock.json

install-panel-vue:
  stage: install
  image: node:lts-alpine
  script:
  - cd apps/frontend/panel-vue
  - npm install --prefer-offline --no-audit
  - npm run postinstall
  cache:
    key: ${CI_COMMIT_REF_SLUG}-panel-vue-deps
    paths:
    - apps/frontend/panel-vue/node_modules/
    - apps/frontend/panel-vue/.nuxt/
  ...

lint-api:
  stage: lint
  needs:
  - install-api
  image: node:lts-alpine
  script:
  - cd apps/backend/api
  - npm run lint
  cache:
    key: ${CI_COMMIT_REF_SLUG}-api-deps
    paths:
    - apps/backend/api/node_modules/
    policy: pull

lint-mailer:
  stage: lint
  needs:
  - install-mailer
  image: node:lts-alpine
  script:
  - cd apps/backend/mailer
  - npm run lint
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mailer-deps
    paths:
    - apps/backend/mailer/node_modules/
    policy: pull

lint-panel-react:
  stage: lint
  needs:
  - install-panel-react
  image: node:lts-alpine
  script:
  - cd apps/frontend/panel-react
  - npm run lint
  cache:
    key: ${CI_COMMIT_REF_SLUG}-panel-react-deps
    paths:
    - apps/frontend/panel-react/node_modules/
    policy: pull

lint-panel-vue:
  stage: lint
  needs:
  - install-panel-vue
  image: node:lts-alpine
  script:
  - cd apps/frontend/panel-vue
  - npm run lint
  cache:
    key: ${CI_COMMIT_REF_SLUG}-panel-vue-deps
    paths:
    - apps/frontend/panel-vue/node_modules/
    policy: pull

test-panel-react:
  stage: test
  needs:
  - lint-panel-react
  image: node:lts-alpine
  script:
  - cd apps/frontend/panel-react
  - npm run test
  cache:
    key: ${CI_COMMIT_REF_SLUG}-panel-react-deps
    paths:
    - apps/frontend/panel-react/node_modules/
    policy: pull

test-panel-vue:
  stage: test
  needs:
  - lint-panel-vue
  image: node:lts-alpine
  script:
  - cd apps/frontend/panel-vue
  - npm run test
  cache:
    key: ${CI_COMMIT_REF_SLUG}-panel-vue-deps
    paths:
    - apps/frontend/panel-vue/node_modules/
    policy: pull

Some fixes
  apps/backend/api/src/main.ts
  apps/backend/api/src/users/dto/user-external.dto.ts
  apps/backend/api/src/users/dto/user-req-list.dto.ts
  apps/backend/api/test/app.setup.ts
  apps/backend/api/test/resources.test.ts
  apps/backend/api/test/roles.test.ts
  apps/backend/api/test/users.test.ts
Due: install-api, lint-api, build-api, deploy-staging

Some fixes
  apps/frontend/panel-vue/components/entities/role/RoleRightsForm.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

Docker Compose config updated; health check added; some fixes
  apps/backend/api/package-lock.json
  apps/backend/api/package.json
  apps/backend/api/src/app.module.ts
  apps/backend/api/src/cache/cache.module.ts
  apps/backend/api/src/cache/cache.service.ts
  apps/backend/api/src/database/database.module.ts
  apps/backend/api/src/health/cache-health.service.ts
  apps/backend/api/src/health/health.controller.ts
  apps/backend/api/src/health/health.module.ts
  apps/backend/api/src/health/queue-health.service.ts
  apps/backend/api/src/queue/queue.module.ts
  apps/backend/mailer/package-lock.json
  apps/backend/mailer/package.json
  apps/backend/mailer/src/mail/dto/email-code.dto.ts
  apps/backend/mailer/src/mail/mail.controller.ts
  apps/backend/mailer/src/mail/mail.module.ts
  apps/backend/mailer/src/mail/mail.service.ts
  apps/backend/mailer/src/main.ts
  apps/backend/mailer/src/microservice.module.ts
  dev.yml
  docker-compose.yml
  infrastructure/nginx/templates/default.conf.template
  prod.yml
Due: install-api, install-mailer, lint-api, lint-mailer, build-nginx, build-api, build-mailer, deploy-staging

Removed unnecessary dependencies
  apps/backend/mailer/package-lock.json
  apps/backend/mailer/package.json
Due: install-mailer, lint-mailer, build-mailer, deploy-staging

Docker Compose config update
  docker-compose.yml
Due: deploy-staging

Better logic for transactions; precommit fix
  apps/backend/api/libs/utils.ts
  apps/backend/api/package.json
  apps/backend/api/src/roles/roles.service.ts
  apps/backend/api/src/users/users.service.ts
  apps/backend/mailer/package.json
  package.json
  scripts/git/pre-commit
Due: install-api, install-mailer, lint-api, lint-mailer, build-api, build-mailer, deploy-staging

temp rename for casing
  apps/frontend/panel-vue/components/features/Auth_tmp/ForgotPasswordForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/ResetPasswordForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignInForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignInGoogleForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignInGoogleLink.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignUpForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignUpSuccessForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/VerifyUserForm.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

fix folder casing
  apps/frontend/panel-vue/components/features/Auth_tmp/ForgotPasswordForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/ResetPasswordForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignInForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignInGoogleForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignInGoogleLink.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignUpForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/SignUpSuccessForm.vue
  apps/frontend/panel-vue/components/features/Auth_tmp/VerifyUserForm.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

temp rename for casing
  apps/frontend/panel-vue/components/features/profile_tmp/ChangeEmailConfirmForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/ChangeEmailRequestForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/ProfileRoles.vue
  apps/frontend/panel-vue/components/features/profile_tmp/ProfileSessions.vue
  apps/frontend/panel-vue/components/features/profile_tmp/SessionForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/UpdatePasswordForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/UpdateProfileForm.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

fix folder casing
  apps/frontend/panel-vue/components/features/profile_tmp/ChangeEmailConfirmForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/ChangeEmailRequestForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/ProfileRoles.vue
  apps/frontend/panel-vue/components/features/profile_tmp/ProfileSessions.vue
  apps/frontend/panel-vue/components/features/profile_tmp/SessionForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/UpdatePasswordForm.vue
  apps/frontend/panel-vue/components/features/profile_tmp/UpdateProfileForm.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

temp rename for casing
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormAlert.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormBase.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormButton.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormCheckbox.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormField.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormLink.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormPassword.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

fix folder casing
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormAlert.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormBase.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormButton.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormCheckbox.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormField.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormLink.vue
  apps/frontend/panel-vue/components/shared/ui/Form_tmp/FormPassword.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

temp rename for casing
  apps/frontend/panel-vue/components/widgets/alerts_tmp/LayoutAlerts.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

fix folder casing
  apps/frontend/panel-vue/components/widgets/alerts_tmp/LayoutAlerts.vue
Due: install-panel-vue, lint-panel-vue, test-panel-vue, build-panel-vue, deploy-staging

temp rename for casing
  apps/frontend/panel-react/src/widgets/Alerts_tmp/LayoutAlerts.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

fix folder casing
  apps/frontend/panel-react/src/widgets/Alerts_tmp/LayoutAlerts.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

temp rename for casing
  apps/frontend/panel-react/src/views/Auth_tmp/AuthLayout.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/AuthorizationPage.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/ForgotPasswordPage.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/GoogleAuthorizationPage.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/RegistrationPage.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

fix folder casing
  apps/frontend/panel-react/src/views/Auth_tmp/AuthLayout.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/AuthorizationPage.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/ForgotPasswordPage.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/GoogleAuthorizationPage.tsx
  apps/frontend/panel-react/src/views/Auth_tmp/RegistrationPage.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

temp rename for casing
  apps/frontend/panel-react/src/views/Panel_tmp/HomePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/PanelLayout.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/ProfilePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/resources/CreateResourcePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/resources/EditResourcePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/resources/ListResourcesPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/roles/CreateRolePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/roles/EditRolePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/roles/ListRolesPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/users/CreateUserPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/users/EditUserPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/users/ListUsersPage.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

fix folder casing
  apps/frontend/panel-react/src/views/Panel_tmp/HomePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/PanelLayout.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/ProfilePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/resources/CreateResourcePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/resources/EditResourcePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/resources/ListResourcesPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/roles/CreateRolePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/roles/EditRolePage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/roles/ListRolesPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/users/CreateUserPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/users/EditUserPage.tsx
  apps/frontend/panel-react/src/views/Panel_tmp/users/ListUsersPage.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

temp rename for casing
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormAlert.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormBase.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormButton.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormCheckbox.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormField.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormLink.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormPassword.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

fix folder casing
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormAlert.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormBase.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormButton.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormCheckbox.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormField.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormLink.tsx
  apps/frontend/panel-react/src/shared/ui/Form_tmp/FormPassword.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

temp rename for casing
  apps/frontend/panel-react/src/features/Auth_tmp/ForgotPasswordForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/ResetPasswordForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignInForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignInGoogleForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignInGoogleLink.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignUpForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignUpSuccessForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/VerifyUserForm.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

fix folder casing
  apps/frontend/panel-react/src/features/Auth_tmp/ForgotPasswordForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/ResetPasswordForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignInForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignInGoogleForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignInGoogleLink.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignUpForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/SignUpSuccessForm.tsx
  apps/frontend/panel-react/src/features/Auth_tmp/VerifyUserForm.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

temp rename for casing
  apps/frontend/panel-react/src/features/Profile_tmp/ChangeEmailConfirmForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/ChangeEmailRequestForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/ProfileRoles.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/ProfileSessions.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/SessionForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/UpdatePasswordForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/UpdateProfileForm.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

fix folder casing
  apps/frontend/panel-react/src/features/Profile_tmp/ChangeEmailConfirmForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/ChangeEmailRequestForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/ProfileRoles.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/ProfileSessions.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/SessionForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/UpdatePasswordForm.tsx
  apps/frontend/panel-react/src/features/Profile_tmp/UpdateProfileForm.tsx
Due: install-panel-react, lint-panel-react, test-panel-react, build-panel-react, deploy-staging

Path conditions:
  install-api: any of: apps/backend/api/**/*, shared/**/*
  install-mailer: any of: apps/backend/mailer/**/*, shared/**/*
  install-panel-react: any of: apps/frontend/panel-react/**/*, shared/**/*
  install-panel-vue: any of: apps/frontend/panel-vue/**/*, shared/**/*
  lint-api: any of: apps/backend/api/**/*, shared/**/*
  lint-mailer: any of: apps/backend/mailer/**/*, shared/**/*
  lint-panel-react: any of: apps/frontend/panel-react/**/*, shared/**/*
  lint-panel-vue: any of: apps/frontend/panel-vue/**/*, shared/**/*
  test-panel-react: any of: apps/frontend/panel-react/**/*, shared/**/*
  test-panel-vue: any of: apps/frontend/panel-vue/**/*, shared/**/*
  build-grafana: any of: infrastructure/grafana/**/*
  build-prometheus: any of: infrastructure/prometheus/**/*
  build-nginx: any of: infrastructure/nginx/**/*
  build-rabbitmq: any of: infrastructure/rabbitmq/**/*
  build-postgres: any of: infrastructure/postgres/**/*
  build-redis: any of: infrastructure/redis/**/*
  build-api: any of: apps/backend/api/**/*, shared/**/*
  build-mailer: any of: apps/backend/mailer/**/*, shared/**/*
  build-panel-react: any of: apps/frontend/panel-react/**/*, shared/**/*
  build-panel-vue: any of: apps/frontend/panel-vue/**/*, shared/**/*
  deploy-staging: any of: apps/**/*, shared/**/*, infrastructure/**/*, .env, docker-compose.yml, prod.yml, ci.yml
